@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #F2CDA0, #BF6E26);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #5e29168c;
    width: 600px; 
    padding: 10px;
    margin: auto;
}
h1 {
    color: #592614;
    text-align: center;
    text-shadow: 1px 1px 2px #6b301a8c;
}
h2 {
    color: #A64826;
}

p {
    text-align: justify;
}